<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8"/>
</head>
<body>
<canvas id="canvas01" style="position: absolute; background-color: black;" width="640" height="480"></canvas>

<script id="shader-vs" type="x-shader/x-vertex">
		attribute vec3 v3Position;
		attribute vec4 v4vColor;
		uniform mat4 m4MVMatrix;
        uniform mat4 m4PMatrix;

        varying vec4 v4Color;
		void main(void)
		{
		    gl_Position = m4PMatrix * m4MVMatrix * vec4(v3Position, 1.0);
		    v4Color = v4vColor;
		}



















</script>

<script id="shader-fs" type="x-shader/x-fragment">
        precision mediump float;
        varying vec4 v4Color;
		void main(void)
		{
		    gl_FragColor = v4Color;
		}



















</script>
<script type="text/javascript" src="/javascripts/Scripts.js"></script>
<script type="text/javascript">
    // m4PMatrix * m4MVMatrix * vec4(v3Position, 1.0)

    /** @param {WebGL} wgl */
    function initShaders(wgl) {

        var gl = wgl.gl;
        var fragmentShader = wgl.shader.getShaderByScript(document.getElementById("shader-fs"));
        var vertexShader = wgl.shader.getShaderByScript(document.getElementById("shader-vs"));

        var program = wgl.shaderManage.createProgram("temp");
        program.attachShader(vertexShader);
        program.attachShader(fragmentShader);

        wgl.shaderManage.use({
            program: "temp" //or program:program
            , vertexPositionAttribute: "v3Position"     //gl_Vertex
            , vertexColorAttribute: "v4vColor", uniformPMatrix: "m4PMatrix"                //gl_ModelViewMatrix
            , uniformMVMatrix: "m4MVMatrix"              //gl_ProjectionMatrix
        });
    }

    var webgl = new TWebGL(document.getElementById("canvas01"));
    initShaders(webgl);
    colors = [
        [1.0, 0.0, 0.0, 1.0], // Front face
        [1.0, 1.0, 0.0, 1.0], // Back face
        [0.0, 1.0, 0.0, 1.0], // Top face
        [1.0, 0.5, 0.5, 1.0], // Bottom face
        [1.0, 0.0, 1.0, 1.0], // Right face
        [0.0, 0.0, 1.0, 1.0]  // Left face
    ];
    var unpackedColors = [];
    for (var i in colors) {
        var color = colors[i];
        for (var j = 0; j < 6; j++) {
            unpackedColors = unpackedColors.concat(color);
        }
    }
    var scene = webgl.scene.create();
    var obj;
    obj = scene.addObject({
        nop: null, id: "cube", shaderProgramId: "temp", vertices: [
            // Front face
            -1.0, -1.0, 1.0,
            1.0, -1.0, 1.0,
            1.0, 1.0, 1.0,
            -1.0, 1.0, 1.0,

            // Back face
            -1.0, -1.0, -1.0,
            -1.0, 1.0, -1.0,
            1.0, 1.0, -1.0,
            1.0, -1.0, -1.0,

            // Top face
            -1.0, 1.0, -1.0,
            -1.0, 1.0, 1.0,
            1.0, 1.0, 1.0,
            1.0, 1.0, -1.0,

            // Bottom face
            -1.0, -1.0, -1.0,
            1.0, -1.0, -1.0,
            1.0, -1.0, 1.0,
            -1.0, -1.0, 1.0,

            // Right face
            1.0, -1.0, -1.0,
            1.0, 1.0, -1.0,
            1.0, 1.0, 1.0,
            1.0, -1.0, 1.0,

            // Left face
            -1.0, -1.0, -1.0,
            -1.0, -1.0, 1.0,
            -1.0, 1.0, 1.0,
            -1.0, 1.0, -1.0
        ], positionRowCount: 12 * 3, colors: unpackedColors
    });
    var gl = webgl.gl;
    // 黑底, 不透明
    //gl.clearColor(0.0, 0.0, 0.0, 1.0);
    // 清除所有
    gl.clearDepth(1.0);
    // Enable depth testing / 开启深度测试
    gl.enable(gl.DEPTH_TEST);
    // Near things obscure far things / 近处物体遮挡远处物体
    gl.depthFunc(gl.LEQUAL);
    //gl.depthFunc(gl.GL_LESS);

    scene.alter();

    var lastTime = 0;
    var rCube = 0;
    function animate() {
        var timeNow = new Date().getTime();
        if (lastTime != 0) {
            var elapsed = timeNow - lastTime;
            //rPyramid += (90 * elapsed) / 1000.0;
            rCube -= (75 * elapsed) / 1000.0;
        }
        lastTime = timeNow;
    }

    function tick() {
        requestAnimFrame(tick);
        scene.draw();
        animate();
    }

    tick();

</script>
</body>
</html>