<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>
<script language="javascript" src="/javascripts/com.red/common.js"></script>
<script language="javascript" src="/javascripts/com.red/TTemplate/index.js"></script>
<script>
    "use strict";
    function Foo() {

        ["(1)<template{fun:1:1},{html:1:2},{css:1:1}>"]["this is a template"];

        ["(2)<template{fun:1:1},{html:1:2},{css:1:1}3>"]["this is a template"];

        ["<template{fun:1:1},{html:test:2},{css:test:1}>"];

        ["(-2)<template {fun:1:1},{html:1:2},{css:test:1} ><>"]["this is a template"];

        ["(-2)<template {fun:1:1},{=>function(){alert(2);}.toString();},{=>function(){alert(3);}.toString();} > <> "][""];

        ["(-2)<template{fun:1:1},{html:1:2},{css:test:1}><12>"]["this is a template"];

    }


    org.red.ttemplate.output({
        nop: 0, src: Foo.toString(), ins: {
            fun: {
                default: function () {
                    alert("default");
                }, test: function () {
                    alert(1);
                }
            }, html: {
                default: "<div>default</div>", test: "<div>test</div>"
            }, css: {
                default: "color:blue;", test: "color:red;"
            }
        }
    });


</script>
</body>
</html>

