<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h1><%= title %></h1>

<p>Welcome to <%= title %></p>

<script language="javascript" src="/javascripts/com.red/common.js"></script>
<script>

    function Foo() {
        (1)["<template/fun/html/1>"]["temp"];


        ["(10)<template{fun|html|css}10>"];

        (2)["<template{fun|html|css}10>"]["这是一个模板位置"];

        ["<template{fun|css}211tmp1>"]["这是一个模板位置"];

        ["<template{fun|css}>"]["这是一个模板位置"];

        "(2)[<template{fun|html|css}10>]";

        (2)["<template{fun:10:1|html:1:1|css:span:1}>"]["this is a template"];
        (-2)["<template{fun:10:1|html:1:1|css:span:1}>"]["this is a template"];


        0x100["template"];
        var a = [1, 2, 3, 4, 5];

        alert(1);
        a["template"];
        this.num = 1;
    }
    (2)["<template/fun>"];
    (3)["<template/fun>"];
    (1)["<template/fun>"];
    (1)["<template/fun/css>"];
    org.red.template.output({
        nop: 0, src: Foo.toString(), ins: [                                 // NO   Memo        X
            "{\"缺少对应的模板\"};"             // 0   号模板       default
            , "alert('test ok number 1 ');"     // 1
            , "alert('test ok number 2 ');"     // 2
        ]
    })

    var obj = {a: 1, b: 2, c: 3};


</script>
</body>
</html>

